<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else nothengWasDeleted">
  <h2>Héroe borrado <small class="text-danger">{{ deletedHero }}</small>.</h2>
</div>

<ng-template #nothengWasDeleted>
  <h2>No ha borrado nada.</h2>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
    (click)="removeLastHero()"
    class="btn btn-outline-danger">
  Borrar último héroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
      class="list-group-item">
    {{ name }}
  </li>
</ul>
